@model CallogApp.Models.Request

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponseDate" class="control-label"></label>
                <input asp-for="ResponseDate" class="form-control" />
                <span asp-validation-for="ResponseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespondedDate" class="control-label"></label>
                <input asp-for="RespondedDate" class="form-control" />
                <span asp-validation-for="RespondedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResolvedDate" class="control-label"></label>
                <input asp-for="ResolvedDate" class="form-control" />
                <span asp-validation-for="ResolvedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueId" class="control-label"></label>
                <select asp-for="IssueId" class="form-control" asp-items="ViewBag.IssueId"></select>
                <span asp-validation-for="IssueId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceId" class="control-label"></label>
                <select asp-for="DeviceId" class="form-control" asp-items="ViewBag.DeviceId"></select>
                <span asp-validation-for="DeviceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ITStaffId" class="control-label"></label>
                <select asp-for="ITStaffId" class="form-control" asp-items="ViewBag.ITStaffId"></select>
                <span asp-validation-for="ITStaffId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResolvedBy" class="control-label"></label>
                <input asp-for="ResolvedBy" class="form-control" />
                <span asp-validation-for="ResolvedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolution" class="control-label"></label>
                <input asp-for="Resolution" class="form-control" />
                <span asp-validation-for="Resolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentOwner" class="control-label"></label>
                <input asp-for="DepartmentOwner" class="form-control" />
                <span asp-validation-for="DepartmentOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelId" class="control-label"></label>
                <select asp-for="LevelId" class="form-control" asp-items="ViewBag.LevelId"></select>
                <span asp-validation-for="LevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isCancel" /> @Html.DisplayNameFor(model => model.isCancel)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ReasonForHigh" class="control-label"></label>
                <input asp-for="ReasonForHigh" class="form-control" />
                <span asp-validation-for="ReasonForHigh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

