
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Success</h2>


<div class="container mt-5">
    <div><i class="fa fa-check-circle fa-5x" style="color: green;"></i></div>
    <h2>Thank you!. Your comment has been submitted</h2>
    <p class="mb-4">
        Your comment will be reviewed!
    </p>
    @*<a class="btn btn-outline-success" asp-area="user" 
       asp-controller="usercomment" asp-action="GetAllCommentsByRequest" asp-route-id="">


        View your comments

    </a>*@
   

</div>