@model CallogApp.Models.Request
@section Styles{

    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/buttons.dataTables.min.css" />

    <style>
        .limited {
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        td.details-control {
            background: url('/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }


        tr.details td.details-control {
            background: url('/images/details_close.png') no-repeat center center;
        }

        div.polaroid {
            padding: 5px 5px 5px 5px;
            border: 1px solid #BFBFBF;
            background-color: white;
            box-shadow: 10px 10px 10px 10px #aaaaaa;
        }
    </style>

}
@{
    ViewData["Title"] = "My Assigned Task";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">


    <div class="polaroid">
        <div class="col-md-8">
            <h4>List of requests</h4>
        </div>

        <div class="col-md-4">
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i>  Create</a>
        </div>



        <table id="DT_load" class="table  table-bordered" style="font-size:12px">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>TicketID</th>
                    <th>Dept.</th>
                    <th>Status</th>
                    @*<th>Recvd At </th>*@
                    @*<th>Respd At </th>*@
                    <th>Response. Time </th>
                    <th>Resolved At </th>
                    <th>Resolution. Time </th>
                    <th>Category </th>
                    @*<th>Subject </th>*@
                    <th>Asigned To</th>
                    <th>Resolved By</th>
                    <th>Action</th>
                    <th></th>



                </tr>
            </thead>
        </table>
    </div>
</div>



@section Scripts{
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.buttons.min.js"></script>
    <script src="~/js/jszip.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js//vfs_fonts.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script src="~/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/js/toastr.min.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/buttons.html5.min.js"></script>

    <script src="~/js/App/MyAssignedTask.js"></script>
}